	<div class="container">
		<div class="valign-wrapper center">
			<h2 class="valign teal-text"> <b> DOMOTICA HOGAR </b> <br> <small class="grey-text">Sistema de automatizacion para una vivienda</small></h2>
		</div>
	</div>

      <div class="row center">
        <div class="col s12 m4" ng-repeat="dispositivo in vm.dispositivos">
          <div class="card">
            <div class="card-image">
							<img ng-if="dispositivo.estado" ng-src="images/{{dispositivo.ubicacion}}-on.jpg" height="200px">
              <img ng-if="!dispositivo.estado" ng-src="images/{{dispositivo.ubicacion}}-off.jpg" height="200px">
              <span class="card-title"><b>{{dispositivo.nombre}}</b></span>
            </div>
            <div class="card-content">
              <p class="justify"> {{dispositivo.descripcion}}</p>
            </div>
            <div class="card-action">

				<div class="switch">
				  <label>
				    Apagado
				    <input type="checkbox" ng-model="dispositivo.estado" ng-click="vm.cambiarEstadoDispositivo(dispositivo)">
				    <span class="lever"></span>
				    Encendido
				  </label>
				</div>
            </div>
          </div>
        </div>
      </div>
